/GLWindow_Trangle/GLWindow/Debug/vc120.idb
/GLWindow_Trangle/Debug/GLWindow.exe
/GLWindow_Trangle/Debug/GLWindow.ilk
/GLWindow_Trangle/Debug/GLWindow.pdb
/GLWindow_Trangle/GLWindow/Debug/glad.obj
/GLWindow_Trangle/GLWindow/Debug/GLWindow.Build.CppClean.log
/GLWindow_Trangle/GLWindow/Debug/GLWindow.log
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow/Debug/main.obj
/GLWindow_Trangle/GLWindow/Debug/ShaderManagement.obj
/GLWindow_Trangle/GLWindow/Debug/vc120.pdb
/GLWindow_Trangle/Release/GLWindow.exe
/GLWindow_Trangle/Release/GLWindow.pdb
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow.sdf
