/GLWindow_Trangle/GLWindow/Debug/vc120.idb
/GLWindow_Trangle/Debug/GLWindow.exe
/GLWindow_Trangle/Debug/GLWindow.ilk
/GLWindow_Trangle/Debug/GLWindow.pdb
/GLWindow_Trangle/GLWindow/Debug/glad.obj
/GLWindow_Trangle/GLWindow/Debug/GLWindow.Build.CppClean.log
/GLWindow_Trangle/GLWindow/Debug/GLWindow.log
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow/Debug/main.obj
/GLWindow_Trangle/GLWindow/Debug/ShaderManagement.obj
/GLWindow_Trangle/GLWindow/Debug/vc120.pdb
/GLWindow_Trangle/Release/GLWindow.exe
/GLWindow_Trangle/Release/GLWindow.pdb
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow/Debug/GLWindow.tlog/CL.read.1.tlog
/GLWindow_Trangle/GLWindow.sdf
/bin/GLWindowd.exe
/bin/GLWindowd.ilk
/bin/GLWindowd.pdb
/prj/GLWindow_Trangle/Debug/glad.obj
/prj/GLWindow_Trangle/Debug/GLWindow.log
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/cl.command.1.tlog
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/CL.read.1.tlog
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/CL.write.1.tlog
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/GLWindow.lastbuildstate
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/link.command.1.tlog
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/link.read.1.tlog
/prj/GLWindow_Trangle/Debug/GLWindow.tlog/link.write.1.tlog
/prj/GLWindow_Trangle/Debug/main.obj
/prj/GLWindow_Trangle/Debug/ShaderManagement.obj
/prj/GLWindow_Trangle/Debug/stb_image.obj
/prj/GLWindow_Trangle/Debug/vc120.idb
/prj/GLWindow_Trangle/Debug/vc120.pdb
/bin/Transform.exe
/bin/Transform.ilk
/bin/Transform.pdb
/GLWindow.v12.suo
/GLWindow.v12.suo
/prj/Transform/Debug/glad.obj
/prj/Transform/Debug/main.obj
/prj/Transform/Debug/stb_image.obj
/prj/Transform/Debug/Transform.Build.CppClean.log
/prj/Transform/Debug/Transform.log
/prj/Transform/Debug/Transform.tlog/cl.command.1.tlog
/prj/Transform/Debug/Transform.tlog/CL.read.1.tlog
/prj/Transform/Debug/Transform.tlog/CL.write.1.tlog
/prj/Transform/Debug/Transform.tlog/link.command.1.tlog
/prj/Transform/Debug/Transform.tlog/link.read.1.tlog
/prj/Transform/Debug/Transform.tlog/link.write.1.tlog
/prj/Transform/Debug/Transform.tlog/Transform.lastbuildstate
/prj/Transform/Debug/vc120.idb
/prj/Transform/Debug/vc120.pdb
/bin/Coords.exe
/bin/Coords.ilk
/bin/Coords.pdb
/prj/Coords/Debug/Coords.Build.CppClean.log
/prj/Coords/Debug/Coords.log
/prj/Coords/Debug/Coords.tlog/cl.command.1.tlog
/prj/Coords/Debug/Coords.tlog/CL.read.1.tlog
/prj/Coords/Debug/Coords.tlog/CL.write.1.tlog
/prj/Coords/Debug/Coords.tlog/Coords.lastbuildstate
/prj/Coords/Debug/Coords.tlog/link.command.1.tlog
/prj/Coords/Debug/Coords.tlog/link.read.1.tlog
/prj/Coords/Debug/Coords.tlog/link.write.1.tlog
/prj/Coords/Debug/glad.obj
/prj/Coords/Debug/main.obj
/prj/Coords/Debug/stb_image.obj
/prj/Coords/Debug/vc120.idb
/prj/Coords/Debug/vc120.pdb
/bin/Camera.exe
/bin/Camera.ilk
/bin/Camera.pdb
/prj/Camera/Debug/Camera.log
/prj/Camera/Debug/Camera.tlog/Camera.lastbuildstate
/prj/Camera/Debug/Camera.tlog/cl.command.1.tlog
/prj/Camera/Debug/Camera.tlog/CL.read.1.tlog
/prj/Camera/Debug/Camera.tlog/CL.write.1.tlog
/prj/Camera/Debug/Camera.tlog/link.command.1.tlog
/prj/Camera/Debug/Camera.tlog/link.read.1.tlog
/prj/Camera/Debug/Camera.tlog/link.write.1.tlog
/prj/Camera/Debug/glad.obj
/prj/Camera/Debug/main.obj
/prj/Camera/Debug/stb_image.obj
/prj/Camera/Debug/vc120.idb
/prj/Camera/Debug/vc120.pdb
/GLWindow.v12.suo
/bin/Color.exe
/bin/Color.ilk
/bin/Color.pdb
/prj/Color/Debug/Color.log
/prj/Color/Debug/Color.tlog/cl.command.1.tlog
/prj/Color/Debug/Color.tlog/CL.read.1.tlog
/prj/Color/Debug/Color.tlog/CL.write.1.tlog
/prj/Color/Debug/Color.tlog/Color.lastbuildstate
/prj/Color/Debug/Color.tlog/link.command.1.tlog
/prj/Color/Debug/Color.tlog/link.read.1.tlog
/prj/Color/Debug/Color.tlog/link.write.1.tlog
/prj/Color/Debug/glad.obj
/prj/Color/Debug/main.obj
/prj/Color/Debug/stb_image.obj
/prj/Color/Debug/vc120.idb
/prj/Color/Debug/vc120.pdb
/bin/Material.exe
/bin/Material.ilk
/bin/Material.pdb
/prj/Material/Debug/glad.obj
/prj/Material/Debug/main.obj
/prj/Material/Debug/Material.log
/prj/Material/Debug/Material.tlog/cl.command.1.tlog
/prj/Material/Debug/Material.tlog/CL.read.1.tlog
/prj/Material/Debug/Material.tlog/CL.write.1.tlog
/prj/Material/Debug/Material.tlog/link.command.1.tlog
/prj/Material/Debug/Material.tlog/link.read.1.tlog
/prj/Material/Debug/Material.tlog/link.write.1.tlog
/prj/Material/Debug/Material.tlog/Material.lastbuildstate
/prj/Material/Debug/stb_image.obj
/prj/Material/Debug/vc120.idb
/prj/Material/Debug/vc120.pdb
/bin/LightTexture.exe
/bin/LightTexture.ilk
/bin/LightTexture.pdb
/prj/LightTexture/Debug/glad.obj
/prj/LightTexture/Debug/LightTexture.log
/prj/LightTexture/Debug/LightTexture.tlog/cl.command.1.tlog
/prj/LightTexture/Debug/LightTexture.tlog/CL.read.1.tlog
/prj/LightTexture/Debug/LightTexture.tlog/CL.write.1.tlog
/prj/LightTexture/Debug/LightTexture.tlog/LightTexture.lastbuildstate
/prj/LightTexture/Debug/LightTexture.tlog/link.command.1.tlog
/prj/LightTexture/Debug/LightTexture.tlog/link.read.1.tlog
/prj/LightTexture/Debug/LightTexture.tlog/link.write.1.tlog
/prj/LightTexture/Debug/main.obj
/prj/LightTexture/Debug/stb_image.obj
/prj/LightTexture/Debug/vc120.idb
/prj/LightTexture/Debug/vc120.pdb
